a {
  color: #9d9d9c;
  transition-duration: 0.3s;
}

a:hover {
  color: #5c5c55;
}

ul {
  list-style-type: none;
}

.footer-center {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #bcd546;
  height: 30px;
}

.footer-center {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #bcd546;
}

.social-container {
  height: auto !important;
  display: flex;
}

.footer-social {
  display: flex;
}

.footer-social a {
  padding: 0;
  margin: 0 0.8rem;
  font-size: 20px;
}

.footer_links-container {
  height: auto !important;
}

.footer-links {
  display: flex;
}

.footer-links a {
  padding: 0;
  margin: 0 0.5rem;
  font-size: 15px;
  text-decoration: none;
}

.footer-btn {
  color: #9d9d9c;
  font-size: 25px;
}
