nav {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 35px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.links a {
  color: grey;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .search-div {
    display: flex;
  }

  .search-div button {
    border: none;
    background-color: #fff;
  }

  .search-btn {
    font-size: large;
  }

  .gradient-div {
    height: 8px;
    background-image: linear-gradient(to right, green, blue);
  }
}
