nav {
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 35px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* ----------------------------------- */

.search-div {
  justify-content: end;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-btn {
  font-size: x-large;
  border: none;
  background-color: #fff;
}

#link-s {
  font-size: 25px;
  padding: 14px 25px;
}

.nav-toggle {
  display: none;
}

.nav-center {
  display: flex;
  justify-content: space-between;
}

.header-links-s {
  display: flex;
}

.links-container {
  display: none;
}

.search-div {
  display: flex;
}

.search-div button {
  border: none;
  background-color: #fff;
}

.gradient-div {
  height: 8px;
  background-image: linear-gradient(to right, green, blue);
}

@media screen and (min-width: 768px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }

  .header-list {
    display: none;
  }

  .links-container {
    display: block;
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .search-div {
    display: flex;
  }

  .search-div button {
    border: none;
    background-color: #fff;
  }

  .search-btn {
    font-size: large;
  }
}
